name: CI

on:
  push:
    branches: [ rv1106_car_simple ]
  pull_request:
    branches: [ rv1106_car_simple ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake build-essential libpthread-stubs0-dev
        
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..
        
    - name: Build
      run: |
        cd build
        make -j$(nproc)
        
    - name: Test
      run: |
        cd build
        ctest --output-on-failure

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
          name: my-built-app
          path: build/CarClean  # 要上传的文件或目录
          # 如果是目录，可以写 build/
          # 还可以设置压缩级别等
